{% extends 'Store/base.html' %}
{% block header %}
{% include 'Store\Layout\Includes\slider.html' %}
{% endblock header %}
{% block content %}
<div class="container-fluid" id="bbg">
    <div class="row">
        <div class="col-sm-3">
            <div style="background:none;" class="border form-control border-dark ">
                <h4>Top picks for your home</h4>
            </div>
        </div>
        <div class="col-sm-3">
            <div style="background:none;" class="border form-control  border-dark ">
                <h1 class="text-dark">Hello</h1>
                <h4>Upgrade your home |</h4>
                <h4>Amazon Brands & more</h4>
            </div>
        </div>
        <div class="col-sm-3">
            <div style="background:none;" class="border form-control  border-dark ">
                <h1 class="text-dark">Hello</h1>
            </div>
        </div>
        <div class="col-sm-3">
            <div style="background:none;" class="border form-control  border-dark ">
                <h1 class="text-dark">Hello</h1>
            </div>
        </div>
    </div>
</div>
{% endblock content %}